*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    cursor: url('cursorCustomizado.png'), auto;
}


body{
    height: 100vh;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #030213
}

h1{
    color: #ffffff;
}

h2{
    color: #ffffff;
}

p{
    color: #ffffff;
}

/*Altera o nav principal*/
nav.menuLateral{
    z-index: 1000;
    width: 80px;
    height: 100%;
    background-color: #030213;
    padding: 40px -20px 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; /*Quando não houver espaço para mais elementos, eles irão ficar invisíveis*/
    transition: .6s; /*Deixa mais suave a animação do menu expandindo*/
    white-space: nowrap; /* Impede a quebra de linha do texto */
}

/*Quando tiver a classe "expandir", ele vai se expandir*/
nav.menuLateral.expandir{
    width: 400px;
}

/*Estiliza a div que fica ícone das 3 barrinhas*/
.expandir{
    width: 100%;
    padding: 10px 10px 50px 9px;
}

/*Vai chamar o ícone das 3 barrinhas que está contido dentro da div e estilizá-lo*/
.expandir > i {
    color: aliceblue;
    font-size: 54px;
    cursor: url('cursorCustomizadoHover.png'), auto;
}

/*Faz com que a lista ocupe toda a altura do navbar e remove as características
de lista dela*/
ul{
    height: 100%;
    list-style-type: none; /*Tira as bolinhas de lista*/
}

nav.menuLateral div.expandir{
    margin-left: 5%;
}

/*Quando o usuário passar o mouse por cima dos itens do menu, o background vai mudar de cor*/
ul li.itemMenu a.home:hover{
    background-color: #0099ff;
    border: 2px solid #fff;
    cursor: url('cursorCustomizadoHover.png'), auto;
}

ul li.itemMenu a.gerenciarD:hover{
    background-color: #00ff73;
    border: 2px solid #fff;
    cursor: url('cursorCustomizadoHover.png'), auto;
}

ul li.itemMenu a.gerenciarA:hover{
    background-color:#ffd900;
    border: 2px solid #fff;
    cursor: url('cursorCustomizadoHover.png'), auto;
}

ul li.itemMenu a.config:hover{
    background-color: #5e18e2;
    border: 2px solid #fff;
    cursor: url('cursorCustomizadoHover.png'), auto;
}

ul li.itemMenu a.info:hover{
    background-color: rgb(255, 0, 157);
    border: 2px solid #fff;
    cursor: url('cursorCustomizadoHover.png'), auto;
}

ul li.itemMenu{
    transition: .4s; /*faz com que a animação do usuário passando o mouse por
    cima dos itens do menu demore um pouco, dando um efeito melhor*/
}

ul li{
    padding: 0px 0px 0px 0px;
}

/*Estiliza tanto o hiperlink quanto os ícones*/
ul li.itemMenu a{
    color: white;
    text-decoration: none; /*Remove o traço abaixo das letras*/
    font-size: 20px;
    padding: 20px 15% 20px 10px;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px; /*Alinha o hiperlink com o seu ícone correspondente*/
    transition: .6s;
    cursor: url('cursorCustomizadoHover.png'), auto;
}

/*Estiliza a nomenclatura dos itens do menu*/
ul li.itemMenu a .hiperLink{
    transition: .7s;
    opacity: 0;
    margin-left: 30px;
}

/*Sempre que o nav menuLateral tiver a classe expandir, coisas aconteceram com o "hiperlink"*/
nav.menuLateral.expandir .hiperLink{
    margin-left: 60px;
    opacity: 1;
}

/*Sempre que o nav menuLateral tiver a classe expandir, coisas aconteceram com o "a"*/
nav.menuLateral.expandir a{
    padding: 20px 15% 20px 50px;
}

/*Estiliza os ícones que ficam dentro do botão de menu*/
ul li.itemMenu a .icones > i{
    font-size: 30px;
    margin-left: 10px;
}






/*Estilização da página de início*/

.fundoHome{
    display: flex;
    flex-direction: column;
    background-color: #030213;
    margin-left: 4.78%; 
    width: 95.21%;
    height: 100%;
    text-align: center;
  }

  .inicio{
    color: white;
    background-color: #FFC23C;
    text-align: center;
    margin-top: 30px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #030213;
}

.inicio h1{
    font-size: 50px;
    margin-left: 100px;
}

.inicio h2{
    font-size: 40px;
    margin-left: 100px;
}

  /*Estilização da página de recursos*/

table {
    border-collapse: collapse; /* Remove as bordas entre as células */
    width: 90%; /* Define a largura da tabela */
    border: none;
    margin-left: 7%; /* Alinha à esquerda */
    margin-right: 7%; /* Alinha à direita */
}

td {
    padding: 2px; /* Adiciona um pequeno espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
    color: #5e18e2;
}

tr{
    border-radius: 10px;
}

/* Estilo para células pares */
tr:nth-child(even) td {
    background-color: #ffffff; /* Adiciona um fundo cinza claro para as células pares */
}

th{
    color: #f2f2f2;
    background-color: #5f18e200;
}

/*Estilização da página de ficha de animais*/

.fundoA {
    background-color: #030213;
    margin-left: 4.78%; 
    width: 95.22%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.fichaA{
    display: flex; /* Define o layout como flexível */
    flex-direction: row; /* Direção de linha */
    align-items: start; /* Centraliza os elementos horizontalmente */
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
    justify-content: start;
    padding: 20px 0px 0px 4%; 
    width: 100%;
}

.card-ficha {
    width: 370px; 
    height: 500px; 
    background-image: url('fundoCard.jpg');
    background-size: cover; /* Para cobrir toda a área da div */
    background-position: center; /* Para centralizar a imagem */
    backdrop-filter: blur(5px); /* Aplica um efeito de desfoque */
    background-color: #ffc13c;
    margin: 10px 10px 50px 100px;
    border-radius: 10px;
    overflow: hidden;
}

.blur{
    backdrop-filter: blur(5px);
    height: 100%;
}

.imagensDoCard{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    transition: .2s ease;
    transition-delay: 1s;
    object-fit: cover;
}

.imagensDoCard:hover{
    height: 400px;
    transition-delay: 0s;
}

.ajusteInformacoesDescricao{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.ajusteInformacoesDescricao .informacoes{
    margin-left: 5%;
    font-weight: 300;
}

.ajusteBotaoCard{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.ajusteBotaoCard button{
    padding: 10px;
    border: none;
    border-radius: 2px;
    width: 50%;
    color: #4793AF;
    background-color: #ececec;
    font-size: 20px;
    box-shadow: 9px 7px 0 #cccaca;
}

/*Estilização da página de configuração*/
.fundo{
    background-color: #030213; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    margin-left: 4.78%; 
    width: 95.21%;
}

.card {
    width: 70%; /* Defina a largura máxima do card */
    margin: 3% 0% 3% 0%;
    padding: 1%;
    color: aliceblue;
    background-color: #5e18e2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 9px 7px 0 #270764;
  }

  .ajusteBloco{
    margin-bottom: 3%;
  }

  .bloco{
    padding: 2%;
    background-color: #150435;
    border-radius: 4px;
  }

  .ajusteBlocoProgramarHorario{
    display: flex;
    align-items: center;
    padding: 1%;
    flex-direction: row;
  }

  #programarPostagem{
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 1%;
    font-size: 20px;
    margin-right: 2%;
    color: #150435;
  }

  .divisao{
    width: 100%;
    height: 1px;
    margin: 2% 2% 2% 0%;
    background-color: white;
  }

  .ajusteBlocoSelecionarAnimais{
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  .caixaSelecaoAnimais{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    align-items: center;
  }

  .definirAnimais{
    width: 20px;
    height: 20px;
    margin-right: 2%;
  }

  /*CSS da página de informações*/

  .fundoInfo{
    display: flex;
    flex-direction: column;
    background-color: #030213;
    margin-left: 4.78%; 
    width: 95.21%;
    height: 100%;
    text-align: center;
  }

  .fundoInfo .titulo{
    background-color: rgba(255, 0, 157, 0.747);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 20px;
  }

  .ajusteInformacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 5%;
  }

  .ajusteContainerInformacoes{
    width: 40%;
    height: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
  }

  .ajusteContainerInformacoes h1{
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .ajusteContainerInformacoes h2{
    text-align: justify;
    font-weight: 100;
  }

/* Media query para telas menores, como celulares em orientação retrato */
@media screen and (max-width: 700px) {

    /*Ajuste na página de ficha de animais*/
    .fundo{
        margin-left: 0%; 
        width: 100%;
        height: 100%;
    }

    .card {
        margin-top: 100px;
        margin-bottom: 30px;
      }

    .fichaA {
        margin-left: 0px;
    }
    .fichaA-Alinhamento {
        margin-top: 20%;
        padding: 3%;
        margin-left: 3%; /* Ajuste este valor conforme necessário */
        width: 90%; /* Ajuste este valor conforme necessário */
        transform: none; /* Remova a transformação anterior */
    }
    .card-ficha {
        /* Adicione estilos para os cards conforme necessário */
        width: 320px; /* Ajuste conforme necessário */
        height: 450px; /* Ajuste conforme necessário */
        background-color: #ccc; /* Ajuste conforme necessário */
        margin: 10px; /* Espaçamento entre os cards */
        float: left; /* Para alinhar horizontalmente */
    }

    /*Ajuste na página de informações*/

    .fundoInfo{
        margin-left: 0%; 
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 90px;
      }
    


    /*Ajuste no menu, pare que se adapte a telas menores*/

    nav.menuLateral {
        width: 100%; /* Altera a largura para ocupar toda a largura da tela */
        height: 90px; /* Altura inicial do menu, ajuste conforme necessário */
        padding: 20px 10px; /* Ajusta o preenchimento */
        box-shadow: none; /* Remove a sombra */
        position: fixed; /* Mantém o menu fixo na tela */
        top: 0; /* Alinha o menu ao topo */
        left: 0; /* Alinha o menu à esquerda */
        z-index: 1000; /* Define um índice de sobreposição para garantir que o menu esteja acima de outros elementos */
        overflow: hidden; /* Esconde os itens do menu quando fechado */
        transition: height 0.3s; /* Adiciona uma transição suave para a altura */
        padding: 0;
    }
    
    nav.menuLateral.expandir {
        height: auto; /* Expande a altura do menu para mostrar os itens */
        width: 100%;
    }
    
    /*Neste caso, faz com que os ícones do menu não se movam para o lado*/
    nav.menuLateral.expandir a{
        padding: 20px 15% 20px 0px;
        margin-bottom: 50px;
    }

    nav.menuLateral.expandir .hiperLink{
        margin-left: 30px;
    }
    
    ul {
        height: auto; /* Define a altura para automático */
        padding-top: 20px; /* Ajusta o espaçamento superior dos itens do menu */
    }
    
    ul li.itemMenu {
        width: 100%; /* Define a largura para 100% */
        text-align: center; /* Centraliza o texto */
    }
    
    ul li.itemMenu a {
        padding: 15px 0; /* Ajusta o preenchimento */
    }
    
    .expandir {
        display: block !important; /* Garante que o botão de hambúrguer seja exibido */
    }
}